.main-content {
    margin-top: 10px;
    width: 80%;
}

.page-title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.page-title h1 {
    color: #4a54ff
}

.company .description {
    color: rgb(100, 100, 100)
}

.company {
    margin: 10px;
    font-family: helvetica, verdana;
}

.company .title {
    font-size: 20pt;
}