.main-content {
    margin-top: 10px;
    width: 80%;
}

.page-title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.page-title h1 {
    color: #4a54ff
}

.company .description {
    color: rgb(100, 100, 100)
}

.company {
    margin: 10px;
    font-family: helvetica, verdana;
}

.company .title {
    font-size: 20pt;
}

.flash {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 40%;
    border-radius: 4px;
    border: 1px solid  rgba(8, 83, 185, 0.3);
    background-color: rgba(81, 124, 185, 0.3);
}

.flash .flash-msg {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    text-align: center;
}

.user-menu {
    margin-left: 5em;
}

.list-separated {
    padding: 5px;
}

.list-separated li {
    padding: 0px;
}

.list-separated li+li::before {
    content: ',';
    margin-right: 5px;
}

.navbar-nav a {
    color: rgb(64, 137, 185) !important;
}

.ws-brand {
    color: #71BD72 !important;
}

.ws-top-margin {
    margin-top: 1.5em;
}

.ws-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}