{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block extra_head %}
    {% include 'company/companies_script.html' %}

    <script type="text/javascript">
        var SEND_ADDRESS = '{{ url_for('add_product') }}';
        var REDIRECT_ADDRESS = '{{ url_for('show_products') }}';
    </script>

    <script src="{{ url_for('static', filename='js/add_product.js') }}">
    </script>
{% endblock %}

{% block content %}
    <div class="page-title">
        <h1>Add new product</h1>
    </div>

    <div ng-app="wsAddProductModule" ng-controller="wsAddProductCtrl">
        {% include 'product/product_form.html' %}
    </div>
{% endblock %}