<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='angular.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.css') }}">

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</head>
<body>
    {% block menu %}
        {% include 'menu.html' %}
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>