{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        var PRODUCTS = [];
        {% for product in products %}
        PRODUCTS.push({
           '_id': '{{ product._id }}',
           'name': '{{ product.name }}',
           'price': {{ product.price }},
           'company' : {
               'name': '{{ product.company.name }}',
               '_id': '{{ product.company._id }}'
           },
           'description': '{{ product.description }}',
           'edit_url': '{{ url_for('edit_product', product_id=product._id) }}'
        });
        {% endfor %}
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/show_products.js') }}"></script>
{% endblock %}

{% block content %}
    <div ng-app="wsShowProductsModule" ng-controller="wsShowProductsCtrl">
        <div class="page-title">
            <h1>Products</h1>
        </div>
        {% raw %}
        <div ng-repeat="product in products" class="product panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="panel-title">{{ product.name }}</h2>
                    </div>
                    <div class="col-sm-4">
                        <ul class="pull-right list-inline">
                            <li><a  href="{{ product.edit_url }}">edit</a></li>
                            <li>remove</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <b>Price:</b>
                    </div>
                    <div class="col-sm-3">
                        {{ product.price }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <b>Company:</b>
                    </div>
                    <div class="col-sm-3">
                        {{ product.company.name }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <b>Description:</b>
                    </div>
                    <div class="col-sm-6">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
{% endblock %}