{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    {% for product in products %}
        <div class="product panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ product.name }}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <b>Price:</b>
                    </div>
                    <div class="col-sm-3">
                        {{ product.price|round(2) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <b>Company:</b>
                    </div>
                    <div class="col-sm-3">
                        {{ product.company.name }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <b>Description:</b>
                    </div>
                    <div class="col-sm-6">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}