{% extends 'base.html' %}

{% block title %}Change password for user {{ user.name }}{% endblock %}

{% block content %}
    <div class="page-title">
        <h1>Change password for user {{ user.name }}</h1>
    </div>


    {% if error %}
        <div class="ws-error">
            {{ error }}
        </div>
    {% endif %}


    <form class="form-horizontal ws-top-margin ws-center" role="form" action="{{ url_for('user_change_password', user_id=user._id) }}" method="post">
        <div class="form-group">
            <label class="control-label col-lg-3">Old Password</label>
            <div class="col-lg-5">
                <input class="form-control" type="password" name="old-password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">New Password</label>
            <div class="col-lg-5">
                <input class="form-control" type="password" name="new-password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">Repeat New Password</label>
            <div class="col-lg-5">
                <input class="form-control" type="password" name="repeat-new-password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <input class="form-control btn btn-success" type="submit">
            </div>
        </div>
    </form>
{% endblock %}