{% extends 'base.html' %}

{% block title %}{{ user.name }} user profile{% endblock %}

{% block content %}
    <div clas="row">
        <div class="page-title">
            <h1>{{ user.name }} user profile</h1>
        </div>

        <div class="col-lg-2 user-menu ws-top-margin">
            <ul class="list-unstyled">
                <li><a href="{{ url_for('user_change_password', user_id=user._id) }}">change password</a></li>
            </ul>
        </div>
        <div class="col-lg-8 ws-top-margin">
            <div class="row">
                <div class="col-xs-4 col-lg-2">
                    <b>Name</b>
                </div>
                <div class="col-xs-4 col-lg-5">
                    {{ user.name }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-lg-2">
                    <b>E-Mail</b>
                </div>
                <div class="col-xs-4 col-lg-5">
                    {{ user.email }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-lg-2">
                    <b>Roles</b>
                </div>
                <div class="col-xs-4 col-lg-5">
                    <ul class="list-inline list-separated">
                        {% for role in user.roles %}
                            <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}